<% layout('layouts/loginAndRegister') %>

<h2 class="text-center">登入系統</h2>
<form id="loginForm" action="/auth/login" method="POST">
    <div class="mb-3">
        <label for="email" class="form-label">電子郵件：</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">密碼：</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">登入</button>
    </div>
</form>
<div class="text-center mt-3">
    <p>尚未註冊？<a href="/auth/register">註冊帳號</a></p>
</div>
